<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Categoria</title>
</head>
<body>

<h1>Cadastro de Categoria</h1>

<form th:action="@{/categoria/salvar}" th:object="${categoria}" method="post">
    <input type="hidden" th:field="*{id}">

    <label>Nome:</label><br>
    <input type="text" th:field="*{nome}" required><br><br>

    <button type="submit">Salvar</button>
</form>

<a href="/categoria/listar">Voltar</a>

</body>
</html>